<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="quote__wrapper">
        <div class="abs quote__background"></div>
        <div class="abs quote">
            <p>What matters to me?</p>
            <p id="quote-body" class="quote__body">
                &lsquo;Treating people the way I want to be treated myself.&rsquo;
            </p>

            <div class="row">
                <span id="quote-name" class="quote__name">Elizabeth Blackwell</span>
                <span>200 Women</span>
            </div>
        </div>
    </div>
</body>
</html>